.main-container.vh100.vw100
 .number-section.p2
   .panel.panel-default.number-panel
     .panel-body
       .Grid.Grid--center.event-panel-row.event-panel-row-mb1
         .Grid-cell.text-large CO2
         .Grid-cell.bold.text-xxlarge ha-ha
 .chart-section
   p Chart
