.main-container.vh100.vw100
  span(us-spinner="{radius:30, width:8, length: 16}", spinner-on="isGettingData")
  .number-section.p2
    .panel.panel-default.number-panel(ng-show="latestMeasur")
      .panel-body
        .Grid.Grid--center
          .Grid-cell
          .Grid-cell.text-xlarge.text-right.plr2 current
          .Grid-cell
        .Grid.Grid--center
          .Grid-cell.text-xxlarge.text-right
            | CO
            sub 2
          .Grid-cell.bold.text-xxlarge.text-right.plr2(ng-class="getCo2Class(latestMeasur.co2)") {{ latestMeasur.co2 }}
          .Grid-cell.bold.text-large ppm
        .Grid.Grid--center
          .Grid-cell.text-xxlarge.text-right T
          .Grid-cell.bold.text-xxlarge.text-right.plr2(ng-class="getTempClass(latestMeasur.t)") {{ latestMeasur.t | number:1 }}
          .Grid-cell.bold.text-large
            sup o
            span C
    .panel.panel-default.minmax-panel.ml3(ng-show="measurs && measurs.length > 0")
      .panel-body
        .Grid.Grid--center
          .Grid-cell.text-xlarge.text-right min
          .Grid-cell.text-xlarge.text-right.plr2 avg
          .Grid-cell.text-xlarge.text-right.pr2 max
        .Grid.Grid--center
          .Grid-cell.text-xxlarge.text-right(ng-class="getCo2Class(co2Min.co2)",
          uib-tooltip="{{ co2Min.timestamp | date:'HH:mm' }}") {{ co2Min.co2 }}
          .Grid-cell.text-xxlarge.text-right.plr2(ng-class="getCo2Class(co2Avg)") {{ co2Avg | number:0 }}
          .Grid-cell.text-xxlarge.text-right.pr2(ng-class="getCo2Class(co2Max.co2)",
          uib-tooltip="{{ co2Max.timestamp | date:'HH:mm' }}") {{ co2Max.co2 }}
        .Grid.Grid--center
          .Grid-cell.text-xxlarge.text-right(ng-class="getTempClass(tMin.t)",
          uib-tooltip="{{ tMin.timestamp | date:'HH:mm' }}") {{ tMin.t | number:1 }}
          .Grid-cell.text-xxlarge.text-right.plr2(ng-class="getTempClass(tAvg)") {{ tAvg | number:1 }}
          .Grid-cell.text-xxlarge.text-right.pr2(ng-class="getTempClass(tMax.t)",
          uib-tooltip="{{ tMax.timestamp | date:'HH:mm' }}") {{ tMax.t | number:1 }}
  .chart-section
    highchart(config="chartConfig", ng-show="measurs && measurs.length > 0")
